/* Общие стили */

/* Общее оформление */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 28px;
  color: #333;
  margin-bottom: 10px;
}

/* Общие кнопки */
button {
  border: none;
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
